
{% extends 'home.html' %}

{% block content %}

{% for post in post_list %}

<div class="container mt-4">
    <div class="row">
        <div class="col-9">
            <div class="card shadow-sm my-3">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted small py-2">2 Sep 2021</h6>
                    <p class="card-text py-3">
                        {{post.content}}
                    </p>
                    <h6> {{post.author}} </h6>

                    <a href="{% url 'post_detail' post.id  %}"> Read More  </a>
                </div>
            </div>
        </div>

        {% endfor %}
{% endblock content %}